# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [ ]:
# since we saved the clean marketing customer analysis file as a clean CSV, we will rather call that one to avoid hustle

In [1]:
import pandas as pd
import numpy as np
marketing_customer_analysis_df = pd.read_csv("insurance_and_marketing_cleaned copy.csv")
marketing_customer_analysis_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
9130,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
9131,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
9132,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
9133,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2

In [2]:
marketing_customer_analysis_df.columns = marketing_customer_analysis_df.columns.str.replace(" ", "_", regex=False).str.strip().str.lower()
marketing_customer_analysis_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
9130,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
9131,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
9132,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
9133,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [3]:
customers_filtered_1_df = marketing_customer_analysis_df[(marketing_customer_analysis_df["total_claim_amount"] < 1000) & (marketing_customer_analysis_df["response"] == "Yes")]
customers_filtered_1_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
8,FM55990,California,5989.773931,Yes,Premium,College,2011-01-19,Employed,M,66839,...,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,A,1
15,CW49887,California,4626.801093,Yes,Basic,Master,2011-01-16,Employed,F,79487,...,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,A,1
19,NJ54277,California,3746.751625,Yes,Extended,College,2011-02-26,Employed,F,41479,...,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A,2
27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2011-02-28,Employed,F,63774,...,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,A,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9075,FB17016,Oregon,5470.060561,Yes,Extended,Bachelor,2011-02-17,Employed,F,54507,...,1,Personal Auto,Personal L3,Offer2,Agent,702.990032,SUV,Medsize,A,2
9082,ME22430,Nevada,2453.570794,Yes,Basic,Bachelor,2011-02-09,Medical Leave,M,29735,...,1,Personal Auto,Personal L2,Offer1,Agent,331.200000,Four-Door Car,Medsize,A,2
9086,FM31768,Arizona,5979.724161,Yes,Extended,High School or Below,2011-02-07,Employed,F,57693,...,3,Personal Auto,Personal L1,Offer2,Agent,547.200000,Four-Door Car,Medsize,A,2
9117,BY78730,Oregon,8879.790017,Yes,Basic,High School or Below,2011-02-03,Employed,F,52583,...,7,Special Auto,Special L2,Offer1,Agent,528.200860,SUV,Small,A,2
9124,MM70762,Arizona,9075.768214,Yes,Basic,Master,2011-01-26,Employed,M,37722,...,8,Personal Auto,Personal L1,Offer1,Agent,158.077504,Sports Car,Medsize,A,1

In [4]:
customers_filtered_1_df.total_claim_amount.max()

960.115399

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [5]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
insurance_updated_df = pd.read_csv("insurance_company_cleaned_copy.csv")
insurance_updated_df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,Unknown,Master,588174.235,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.590,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.170,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.180,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.650,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.030,38644.0,78.0,1,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.760,63209.0,102.0,2,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.470,16061.0,88.0,0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.110,79487.0,114.0,0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.020,54230.0,112.0,0,Personal Auto,Two-Door Car,537.600000

In [6]:
# first we need to merge the column response to our original dataframe
merged_new_df = insurance_updated_df.merge(
    marketing_customer_analysis_df[["customer", "response"]],
    on="customer",
    how="inner"
)
merged_new_df.head(5)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,response
0,RB50392,Washington,Unknown,Master,588174.235,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934,No
1,QZ44356,Arizona,F,Bachelor,697953.590,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935,No
2,AI49188,Nevada,F,Bachelor,1288743.170,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247,No
3,WW63253,California,M,Bachelor,764586.180,0.0,106.0,0,Corporate Auto,SUV,529.881344,No
4,GA49547,Washington,M,High School or Below,536307.650,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323,No

In [7]:
premium_value_df = (merged_new_df[merged_new_df["response"] == "Yes"].groupby(
    ["policy_type", "gender"])[["monthly_premium_auto", "customer_lifetime_value"]].mean().rename(
        columns={
            "monthly_premium_auto": "average_monthly_premium_auto",
            "customer_lifetime_value": "average_customer_lifetime_value",
        }
    )
)
premium_value_df

                        average_monthly_premium_auto  \
policy_type    gender
Corporate Auto F                           85.722222
               M                           87.416667
               Unknown                     95.666667
Personal Auto  F                           97.574468
               M                           93.340426
               Unknown                     87.833333
Special Auto   F                           85.125000
               M                           82.166667

                        average_customer_lifetime_value
policy_type    gender
Corporate Auto F                           7.138608e+05
               M                           6.622245e+05
               Unknown                     1.502114e+06
Personal Auto  F                           7.236447e+05
               M                           7.959249e+05
               Unknown                     7.582971e+05
Special Auto   F                           5.878805e+05
               M                           8.383702e+05

In [8]:
# now let's add "total_claim_amount" to our analysis to find patterns.
value_to_claim_df = (merged_new_df[merged_new_df["response"] == "Yes"].groupby(
    ["policy_type", "gender"])[["monthly_premium_auto", "customer_lifetime_value", "total_claim_amount"]].mean().rename(
        columns={
            "monthly_premium_auto": "average_monthly_premium_auto",
            "customer_lifetime_value": "average_customer_lifetime_value",
            "total_claim_amount": "average_total_claim_amount"
        }
    )
)
value_to_claim_df

                        average_monthly_premium_auto  \
policy_type    gender
Corporate Auto F                           85.722222
               M                           87.416667
               Unknown                     95.666667
Personal Auto  F                           97.574468
               M                           93.340426
               Unknown                     87.833333
Special Auto   F                           85.125000
               M                           82.166667

                        average_customer_lifetime_value  \
policy_type    gender
Corporate Auto F                           7.138608e+05
               M                           6.622245e+05
               Unknown                     1.502114e+06
Personal Auto  F                           7.236447e+05
               M                           7.959249e+05
               Unknown                     7.582971e+05
Special Auto   F                           5.878805e+05
               M                           8.383702e+05

                        average_total_claim_amount
policy_type    gender
Corporate Auto F                        342.831714
               M                        383.311053
               Unknown                  351.906312
Personal Auto  F                        401.661317
               M                        433.889747
               Unknown                  518.822408
Special Auto   F                        307.304898
               M                        376.183863

In [9]:
value_to_claim_df["average_profit"] = value_to_claim_df["average_customer_lifetime_value"] - value_to_claim_df["average_total_claim_amount"]
value_to_claim_df

                        average_monthly_premium_auto  \
policy_type    gender
Corporate Auto F                           85.722222
               M                           87.416667
               Unknown                     95.666667
Personal Auto  F                           97.574468
               M                           93.340426
               Unknown                     87.833333
Special Auto   F                           85.125000
               M                           82.166667

                        average_customer_lifetime_value  \
policy_type    gender
Corporate Auto F                           7.138608e+05
               M                           6.622245e+05
               Unknown                     1.502114e+06
Personal Auto  F                           7.236447e+05
               M                           7.959249e+05
               Unknown                     7.582971e+05
Special Auto   F                           5.878805e+05
               M                           8.383702e+05

                        average_total_claim_amount  average_profit
policy_type    gender
Corporate Auto F                        342.831714    7.135179e+05
               M                        383.311053    6.618412e+05
               Unknown                  351.906312    1.501762e+06
Personal Auto  F                        401.661317    7.232431e+05
               M                        433.889747    7.954910e+05
               Unknown                  518.822408    7.577782e+05
Special Auto   F                        307.304898    5.875732e+05
               M                        376.183863    8.379940e+05

In [10]:
# from the above analysis we can see that the most profitable segement for the company is the insurance tpye "special auto" and the demographic of "male", and the least profitable the same tpye but for female.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [13]:
customer_states_df = merged_new_df.groupby("state")["customer"].count()
customer_states_df.max()

331

In [14]:
customers_states_filtered_df = customer_states_df[customer_states_df > 500]
customers_states_filtered_df

Series([], Name: customer, dtype: int64)

In [15]:
# returns nothing since the maximum amounnt of customers per state is 331

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [16]:
merged_new_df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'response'],
      dtype='object')

In [17]:
education_gender_df = merged_new_df.groupby(["education", "gender"])["customer_lifetime_value"].agg(["max", "min", "median"])
education_gender_df

                                     max        min       median
education            gender
Bachelor             F        3347334.95  224844.96  625340.5900
                     M        3265483.83  219961.78  575991.0800
                     Unknown  5816655.35  239210.79  495385.8900
College              F        3116174.52  200435.07  586846.2150
                     M        4479546.94  205062.35  628547.6900
                     Unknown  3670742.64  239391.54  662789.4050
Doctor               F        1958246.89  267805.83  546647.9600
                     M        2017196.15  249131.70  493094.9300
                     Unknown  1281910.29  411853.91  846882.1000
High School or Below F        3461137.90  215017.86  641366.0450
                     M        3585059.94  216852.35  561968.9100
                     Unknown  2426101.78  229447.89  578018.2200
Master               F        3553784.60  257402.04  588446.2175
                     M        4022401.36  254068.98  558618.2150
                     Unknown   879879.70  245175.27  364746.3950

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [ ]:
# quickly checking which dataframes suits best for my objective

In [18]:
merged_new_df.head(1)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,response
0,RB50392,Washington,Unknown,Master,588174.235,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934,No

In [19]:
marketing_customer_analysis_df.head(1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.21696,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.8,Four-Door Car,Medsize,A,2

In [21]:
# now let's create the pivot
policies_pivot_df = marketing_customer_analysis_df.pivot_table(index="state", columns="month", values="policy", aggfunc="count")
policies_pivot_df

month          1     2
state
Arizona      878   777
California  1777  1548
Nevada       486   377
Oregon      1354  1163
Washington   403   371

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [24]:
policies_sold_df = marketing_customer_analysis_df.groupby(["month", "state"])["policy"].count().sort_values(ascending=False)
policies_sold_df

month  state
1      California    1777
2      California    1548
1      Oregon        1354
2      Oregon        1163
1      Arizona        878
2      Arizona        777
1      Nevada         486
       Washington     403
2      Nevada         377
       Washington     371
Name: policy, dtype: int64

In [28]:
policies_sold_top3 = policies_sold_df[0: 3]
policies_sold_top3

month  state
1      California    1777
2      California    1548
1      Oregon        1354
Name: policy, dtype: int64

In [31]:
top3_states_sales_df = pd.DataFrame(policies_sold_top3)
top3_states_sales_df

                  policy
month state
1     California    1777
2     California    1548
1     Oregon        1354

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# The melt() function in pandas is used to transform a DataFrame from a wide format to a long format, which is often more suitable for certain data analysis tasks.
# For example: Melt the DataFrame, keeping 'country' and 'year' as identifier variables, and 'Population' and 'GDP' as value variables
melted_data = pd.melt(df, id_vars=['country', 'year'], value_vars=['Population', 'GDP'], var_name='Indicator', value_name='Value')

In [34]:
marketing_customer_analysis_df.head(5)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [39]:
response_rate_by_channel = (
    marketing_customer_analysis_df
    .groupby("sales_channel")["response"]
    .apply(lambda s: (s == "Yes").mean())
    .reset_index(name="response_rate")
)

response_rate_by_channel

  sales_channel  response_rate
0         Agent       0.183779
1        Branch       0.109856
2   Call Center       0.105382
3           Web       0.113962